﻿<h3 style="padding-bottom:25px; text-align:center">TODO</h3>
    <div style="text-align:center">
        <label>Kategori</label>
        <input class="new-todo" type="text" [(ngModel)]="newTodo.category" autofocus>
        <p><br/></p>
        <label>Beskrivelse</label>
        <input class="new-todo" type="text" (keyup.enter)="addTodo()" [(ngModel)]="newTodo.text">
        <p><br /></p>
    </div>

<div style="text-align:center">
    <button style="width:120px;height:25px;text-align:center" (click)="addTodo()">
        Legg til
    </button>
</div>

<div class="row">
    <div>
        <h3 style="padding-bottom:25px; padding-top:50px; text-align:center">TODOs</h3>
        <ul class="todo-list">
            <li *ngFor="let todo of todos">
                <div class="todo">
                    <label>{{todo.category}}</label>
                    <label>{{todo.text}}</label>
                </div>
            </li>
        </ul>
    </div>
</div>


