﻿<h3 style="padding-bottom:25px; text-align:center">Legg til bruker</h3>
<div style="text-align:center">
    <label>Navn</label>
    <input class="new-user" type="text" 
           [(ngModel)]="newUser.name" autofocus>
    <label>Epost</label>
    <input class="new-user" type="text" (keyup.enter)="addUser()" 
           [(ngModel)]="newUser.email">
    <button style="width:80px;height:25px;" (click)="addUser()">
        Legg til</button>
</div>

<div class="row">
    <div>
        <h3 style="padding-bottom:25px; text-align:center">Brukere</h3>
        <ul class="user-list">
            <li *ngFor="let user of users">
                <div class="user">
                    <label>TEST</label>
                    <label>{{user.name}}</label>
                    <label>{{user.email}}</label>
                    <a routerLink="/todo">Todos</a>
                </div>
            </li>
        </ul>
    </div>
</div>








