
small {
    font-weight: 400;
}


.blue {
    background-color: #2164b3;
    color: white;
}

.selected {
    background-color: #008528;
}


.btn-shadow {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

